h1 {
    text-align: center;
}

div.container {
    max-width: 1280px;
    margin: auto;
}

div.centerContainer {
    display: flex;
    margin-left: 30px;
}

div.leftDiv {
	min-width: 600px;
    width: 50%;
}

div.rightDiv {
	min-width: 600px;
    width: 50%;
}

div.imageContainer {
    display: flex;
    margin-left: 30px;
}

div.imageLeftDiv {
	min-width: 600px;
    width: 50%;
}

div.imageRightDiv {
	min-width: 600px;
    width: 50%;
}



